.custom-nav > li {
    margin-right: 20px;
}

.custom-header {
    height: 55vh;
}

.innerpage-header {
    height: 40vh;
}

h1.display-5.fw-bolder.text-white.mb-2::after, h2.fw-bolder.text-light::after {
    content: "";
    background: #f5a219;
    width: 75px;
    max-width: 75%;
    height: 5px;
    display: block;
    margin: auto;
    margin-top: 0.35em;
}

.content-img {
    height: 250px;
}

.border-primary {
    border-color: #f5a219 !important;
}

.text-primary {
    color:  #f5a219 !important;
}

.bg-dark {
    background-color: #2a2d2b !important;
}

.bg-primary {
    background-color: #f5a219 !important;
}

.bg-offwhite {
    background-color: #f6f1ce;
}

.btn-primary, .btn-primary:visited {
    background-color: #f5a219 !important;
    border: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #c48214 !important;
}

.btn-primary:focus, .btn-primary:visited {
    border-color: #c48214 !important;
    box-shadow: 0 0 0 0.25rem rgb(245 162 25 / 50%);
}

/* Gallery Styles */

.portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-item .item{
	float:left;
	margin-bottom:10px;
}

.gallery_product > img {
    width: 100% !important;
    object-fit: cover;
    height: 450px !important;
}

